[phases.setup]
nixPkgs = ["dotnet-sdk_8", "icu", "zlib", "openssl"]

[phases.build]
# Принудительно называем выходной файл "Bot" (/p:AssemblyName=Bot)
cmds = ["dotnet publish Helper/Helper.csproj -c Release -r linux-x64 --self-contained true /p:AssemblyName=Bot -o out"]

[start]
cmd = "bash start.sh"
